<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879857882214-i05pa300nuq2eari5bl7b4refr5tmeao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879857882214-i05pa300nuq2eari5bl7b4refr5tmeao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879857882214-lu25agp25reg9id3v39f2457ho3dbel6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR1KHUkzBRdMe9-GKCig6jxbDJ7BzH4Og</string>
	<key>GCM_SENDER_ID</key>
	<string>879857882214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oboon.client.ios</string>
	<key>PROJECT_ID</key>
	<string>oboonmobility</string>
	<key>STORAGE_BUCKET</key>
	<string>oboonmobility.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879857882214:ios:3b94c1dbbe538b35</string>
	<key>DATABASE_URL</key>
	<string>https://oboonmobility.firebaseio.com</string>
</dict>
</plist>